<div class="blocks-container">

    <!-- BLOCK "TYPE 10" -->
    <div class="block type-10">
        <div class="main-banner-height">
            <ang-swiper templatepath="modules/hosting/directives/dedicated/dedicated-hosting-slider.html"></ang-swiper>
        </div>
        <div class="banner-tabs">
            <div class="container-fluid">
                <div class="row">
                    <div class="tab-entry active col-md-3">
                        <div class="title">Core i7-768</div>
                        <div class="text">mattis gravida risus sed gravida</div>
                    </div>
                    <div class="tab-entry col-md-3">
                        <div class="title">Core i5-540</div>
                        <div class="text">ultrices nulla semper quis</div>
                    </div>
                    <div class="tab-entry col-md-3">
                        <div class="title">Xeon E5-2640</div>
                        <div class="text">bibendum eget nunc fermentum</div>
                    </div>
                    <div class="tab-entry col-md-3">
                        <div class="title">Dual Xeon 5620</div>
                        <div class="text">posuere blandit orci sed porttitor</div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- BLOCK "TYPE 9" -->
    <div class="block type-9">
        <div class="container">
            <div class="entry">
                <h3 class="title wow fadeInLeft">Hot Propouse!</h3>
                <div class="text wow fadeInRight">Core i5-540 Only <span><b>$1000.00</b><small>/per year</small></span>&nbsp;<a href="#" class="button">Take It Now</a> &nbsp;&nbsp;&nbsp; Core i7-768 Only <span><b>$700.00</b><small>/per year</small></span>&nbsp;<a href="#" class="button">Take It Now</a></div>
            </div>
        </div>
    </div>

    <!-- BLOCK "TYPE 4" -->
    <div class="block type-4">
        <div class="container">

            <div class="row wow fadeInDown">
                <div class="block-header col-md-6 col-md-offset-3 col-sm-12 col-sm-offset-0">
                    <h2 class="title">Our Dedicated Servers</h2>
                    <div class="text">Integer faucibus, dui quis pellentesque vestibulum, nulla ante aliquet turpis, in consectetur ex dui vitae erat in eleifend eros</div>
                </div>
            </div>

            <div class="block-table-container wow fadeInUp">
                <div class="table-responsive">
                    <table class="table style-1">
                        <tr>
                            <th>Server</th>
                            <th>CPU</th>
                            <th>RAM</th>
                            <th>HDD</th>
                            <th>Cost</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>Core i7-768</td>
                            <td>2x2.8Ghz</td>
                            <td>8Gb</td>
                            <td>1Tb</td>
                            <td>$800.00 per/year</td>
                            <td><a class="button" href="#">buy now</a></td>
                        </tr>
                        <tr>
                            <td>Core i5-540</td>
                            <td>4x2,13Ghz</td>
                            <td>16Gb</td>
                            <td>2Tb</td>
                            <td>$1200.00 per/year</td>
                            <td><a class="button" href="#">buy now</a></td>
                        </tr>
                        <tr>
                            <td>Core i3-1270</td>
                            <td>2.2Ghz</td>
                            <td>8Gb</td>
                            <td>1.5Tb</td>
                            <td>$752.00 per/year</td>
                            <td><a class="button" href="#">buy now</a></td>
                        </tr>
                        <tr>
                            <td>Xeon E5-2640</td>
                            <td>3.0Ghz</td>
                            <td>4Gb</td>
                            <td>500Gb</td>
                            <td>$689.00 per/year</td>
                            <td><a class="button" href="#">buy now</a></td>
                        </tr>
                        <tr>
                            <td>Dual Xeon 5620</td>
                            <td>4.2Ghz</td>
                            <td>32Gb</td>
                            <td>1Tb</td>
                            <td>$1620.00 per/year</td>
                            <td><a class="button" href="#">buy now</a></td>
                        </tr>
                        <tr>
                            <td>Dual Xeon E5-2650</td>
                            <td>4.0Ghz</td>
                            <td>16Gb</td>
                            <td>800Gb</td>
                            <td>$955.00 per/year</td>
                            <td><a class="button" href="#">buy now</a></td>
                        </tr>
                        <tr>
                            <td>Core i7-768</td>
                            <td>2x2.8Ghz</td>
                            <td>8Gb</td>
                            <td>1Tb</td>
                            <td>$800.00 per/year</td>
                            <td><a class="button" href="#">buy now</a></td>
                        </tr>
                        <tr>
                            <td>Core i5-540</td>
                            <td>4x2,13Ghz</td>
                            <td>16Gb</td>
                            <td>2Tb</td>
                            <td>$1200.00 per/year</td>
                            <td><a class="button" href="#">buy now</a></td>
                        </tr>
                        <tr>
                            <td>Core i3-1270</td>
                            <td>2.2Ghz</td>
                            <td>8Gb</td>
                            <td>1.5Tb</td>
                            <td>$752.00 per/year</td>
                            <td><a class="button" href="#">buy now</a></td>
                        </tr>
                        <tr>
                            <td>Xeon E5-2640</td>
                            <td>3.0Ghz</td>
                            <td>4Gb</td>
                            <td>500Gb</td>
                            <td>$689.00 per/year</td>
                            <td><a class="button" href="#">buy now</a></td>
                        </tr>
                        <tr>
                            <td>Dual Xeon 5620</td>
                            <td>4.2Ghz</td>
                            <td>32Gb</td>
                            <td>1Tb</td>
                            <td>$1620.00 per/year</td>
                            <td><a class="button" href="#">buy now</a></td>
                        </tr>
                        <tr>
                            <td>Dual Xeon E5-2650</td>
                            <td>4.0Ghz</td>
                            <td>16Gb</td>
                            <td>800Gb</td>
                            <td>$955.00 per/year</td>
                            <td><a class="button" href="#">buy now</a></td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>

    <!-- BLOCK "TYPE 1" - MODIFICATION WITH TWO COLUMNS INSTEAD THREE -->
    <div class="block type-1 style-1">
        <div class="container">

            <div class="row wow fadeInDown">
                <div class="block-header col-md-6 col-md-offset-3 col-sm-12 col-sm-offset-0">
                    <h2 class="title">Our Servers Features</h2>
                    <div class="text">Integer faucibus, dui quis pellentesque vestibulum, nulla ante aliquet turpis, in consectetur ex dui vitae erat in eleifend eros</div>
                </div>
            </div>

            <div class="row wow fadeInUp">
                <div class="icon-entry col-xs-12 col-sm-6">
                    <img alt="" src="img/icon-88.png">
                    <div class="content">
                        <h3 class="title">Quick Response Times</h3>
                        <div class="text">Duis posuere blandit orci sed tincidunt. Curabitur porttitor nisi ac nunc ornare, in fringilla nisl blandit. Class aptent taciti sociosqu ad litora torquent per conubia nostra.</div>
                    </div>
                </div>
                <div class="icon-entry col-xs-12 col-sm-6">
                    <img alt="" src="img/icon-89.png">
                    <div class="content">
                        <h3 class="title">Data Analysis</h3>
                        <div class="text">Duis posuere blandit orci sed tincidunt. Curabitur porttitor nisi ac nunc ornare, in fringilla nisl blandit. Class aptent taciti sociosqu ad litora torquent per conubia nostra.</div>
                    </div>
                </div>
                <div class="icon-entry col-xs-12 col-sm-6">
                    <img alt="" src="img/icon-90.png">
                    <div class="content">
                        <h3 class="title">99.99% Uptime Guarantee</h3>
                        <div class="text">Duis posuere blandit orci sed tincidunt. Curabitur porttitor nisi ac nunc ornare, in fringilla nisl blandit. Class aptent taciti sociosqu ad litora torquent per conubia nostra.</div>
                    </div>
                </div>
                <div class="icon-entry col-xs-12 col-sm-6">
                    <img alt="" src="img/icon-91.png">
                    <div class="content">
                        <h3 class="title">Technical Service</h3>
                        <div class="text">Duis posuere blandit orci sed tincidunt. Curabitur porttitor nisi ac nunc ornare, in fringilla nisl blandit. Class aptent taciti sociosqu ad litora torquent per conubia nostra.</div>
                    </div>
                </div>
                <div class="icon-entry col-xs-12 col-sm-6">
                    <img alt="" src="img/icon-92.png">
                    <div class="content">
                        <h3 class="title">Firewall</h3>
                        <div class="text">Duis posuere blandit orci sed tincidunt. Curabitur porttitor nisi ac nunc ornare, in fringilla nisl blandit. Class aptent taciti sociosqu ad litora torquent per conubia nostra.</div>
                    </div>
                </div>
                <div class="icon-entry col-xs-12 col-sm-6">
                    <img alt="" src="img/icon-93.png">
                    <div class="content">
                        <h3 class="title">Bug Fixing</h3>
                        <div class="text">Duis posuere blandit orci sed tincidunt. Curabitur porttitor nisi ac nunc ornare, in fringilla nisl blandit. Class aptent taciti sociosqu ad litora torquent per conubia nostra.</div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <!-- BLOCK "TYPE 3" -->
    <div class="block type-3">
        <div class="container">

            <div class="row wow fadeInDown">
                <div class="block-header col-md-6 col-md-offset-3 col-sm-12 col-sm-offset-0">
                    <h2 class="title">The ShotLocal Guarantee</h2>
                    <div class="text">Curabitur nunc neque, mollis viverra ex in, auctor elementum mi. Donec non purus felis. Duis interdum mi id purub</div>
                </div>
            </div>

            <div class="row">
                <div class="icon-entry col-sm-4 wow fadeInLeft" data-wow-delay="0.3s">
                    <img alt="" src="img/icon-10.png">
                    <div class="content">
                        <h3 class="title">24/7/365 Support</h3>
                        <div class="text">Integer arcu nisl, dignissim sit amet pretium gravida, finibus eget risus. Quisque a urna porttitor, ullamcorper tortor ac, cursus elit. Duis eget purus non est pellentesque egestas.</div>
                    </div>
                </div>
                <div class="icon-entry col-sm-4 wow fadeInUp" data-wow-delay="0.4s">
                    <img alt="" src="img/icon-11.png">
                    <div class="content">
                        <h3 class="title">45 Day Guarantee</h3>
                        <div class="text">Integer justo eros, lacinia in ligula at, pretium viverra tellus. Fusce dignissim purus enim, nec dignissim elit sollicitudin id. Donec sodales vitae sapien vel malesuada.</div>
                    </div>
                </div>
                <div class="icon-entry col-sm-4 wow fadeInRight" data-wow-delay="0.3s">
                    <img alt="" src="img/icon-12.png">
                    <div class="content">
                        <h3 class="title">99.9% Uptime</h3>
                        <div class="text">Duis et odio nec turpis vestibulum euismod ac non eros. Phasellus tristique gravida diam. Phasellus quis mauris rhoncus, malesuada dui ut, facilisis lacus. Cras in dolor placerat.</div>
                    </div>
                </div>
            </div>

            <div class="block-button-container">
                <a class="button" href="hosting.html">start now! Integer arcu nisl, dignissim sit amet pretium</a>
            </div>

        </div>
    </div>

</div>
