<!-- BLOCK "TYPE 10" - MODIFICATION WITH BACKGROUND IMAGES -->
<div class="block type-10 style-1" style="background-image: Url('img/background-15.jpg')">

    <div class="main-banner-height">
        <ang-swiper templatepath="modules/hosting/directives/vps/vps-hosting-slider.html"></ang-swiper>
    </div>
</div>

<!-- BLOCK "TYPE 3" -->
<div class="block type-3">
    <div class="container">

        <div class="row wow fadeInDown">
            <div class="block-header col-md-6 col-md-offset-3 col-sm-12 col-sm-offset-0">
                <h2 class="title">Your Easy Start</h2>
                <div class="text">Integer faucibus, dui quis pellentesque vestibulum, nulla ante aliquet turpis, in consectetur ex dui vitae erat in eleifend eros</div>
            </div>
        </div>
        
        <div class="row wow fadeInUp">

            <div class="icons-connection"></div>
            <div class="icon-entry col-sm-4">
                <img class="img-circle" src="img/icon-85.png" alt="" />
                <div class="content">
                    <h3 class="title"><span>Step #1.</span> Create Your Account</h3>
                    <div class="text">Aenean pharetra egestas nulla eu ultrices. Donec luctus est molestie, pulvinar ante eget, efficitur augue. Donec euismod accumsan magna bibendum pulvinar.</div>
                </div>
            </div>
            <div class="icon-entry col-sm-4">
                <img class="img-circle" src="img/icon-86.png" alt="" />
                <div class="content">
                    <h3 class="title"><span>Step #2.</span> Choose A Plan</h3>
                    <div class="text">Aenean pharetra egestas nulla eu ultrices. Donec luctus est molestie, pulvinar ante eget, efficitur augue. Donec euismod accumsan magna bibendum pulvinar.</div>
                </div>
            </div>
            <div class="icon-entry col-sm-4">
                <img class="img-circle" src="img/icon-87.png" alt="" />
                <div class="content">
                    <h3 class="title"><span>Step #3.</span> Launch Your VPS</h3>
                    <div class="text">Aenean pharetra egestas nulla eu ultrices. Donec luctus est molestie, pulvinar ante eget, efficitur augue. Donec euismod accumsan magna bibendum pulvinar.</div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- BLOCK "TYPE 2" -->
<div class="block type-2">
    <div class="container">

        <div class="row wow fadeInDown">
            <div class="block-header col-md-6 col-md-offset-3 col-sm-12 col-sm-offset-0">
                <h2 class="title">Popular Plans</h2>
                <div class="text">Integer faucibus, dui quis pellentesque vestibulum, nulla ante aliquet turpis, in consectetur ex dui vitae erat in eleifend eros</div>
            </div>
        </div>
        
        <div class="tabs-wrapper wow fadeInUp">

            <div class="tabs-switch-box">
                <div class="tabs-desktop">
                    <div class="active">NRG Standart</div>
                    <div>NRG Advanced</div>
                    <div>NRG Pro</div>
                    <div>NRG Pro+</div>
                </div>
                <div class="tabs-select-text"><span class="text">NRG Standart</span><span class="glyphicon glyphicon-chevron-down"></span></div>
                <select>
                    <option>NRG Standart</option>
                    <option>NRG Advanced</option>
                    <option>NRG Pro</option>
                    <option>NRG Pro+</option>
                </select>
            </div>

            <div style="display: block;" class="tabs-container">
                <div class="row nopadding">

                    <div class="custom-overflow-wrapper">
                        <div class="custom-overflow-container">
                            <div class="row nopadding">
                                <div class="price-entry title-column col-xs-3 nopadding">
                                    <div class="entry">
                                        <div class="middle">
                                            <div>Storage Space</div>
                                            <div>Bandwidth</div>
                                            <div>Sub-Domains</div>
                                            <div>E-mail Accounts</div>
                                            <div>Control Panel &amp; FTP</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="price-entry col-xs-3 nopadding">
                                    <div class="entry">
                                        <div class="top">
                                            <div class="cell-view">
                                                <h3 class="title">NRG Vps #1</h3>
                                                <div class="text">Cras ex justo, bibendum eget nunc fermentum, sollicitudin lobortis libero</div>
                                            </div>
                                        </div>
                                        <div class="middle">
                                            <div><b>10GB</b></div>
                                            <div><b>50GB</b></div>
                                            <div><b>10 Free</b></div>
                                            <div><b>50</b></div>
                                            <div>Yes</div>
                                        </div>
                                        <div class="bottom">
                                            <div class="cell-view">
                                                <div class="price"><b>$50</b><span>/per year</span></div>
                                                <div class="clear"></div>
                                                <a class="button" href="#/checkout">get started</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="price-entry col-xs-3 nopadding">
                                    <div class="entry">
                                        <div class="top">
                                            <div class="cell-view">
                                                <h3 class="title">NRG Vps #2</h3>
                                                <div class="text">Cras ex justo, bibendum eget nunc fermentum, sollicitudin lobortis libero</div>
                                            </div>
                                        </div>
                                        <div class="middle">
                                            <div><b>100GB</b></div>
                                            <div><b>75GB</b></div>
                                            <div><b>20 Free</b></div>
                                            <div><b>100</b></div>
                                            <div>Yes</div>
                                        </div>
                                        <div class="bottom">
                                            <div class="cell-view">
                                                <div class="price"><b>$75</b><span>/per year</span></div>
                                                <div class="clear"></div>
                                                <a class="button" href="#/checkout">get started</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="price-entry col-xs-3 nopadding">
                                    <div class="entry">
                                        <div class="top">
                                            <div class="cell-view">
                                                <h3 class="title">NRG Vps #3</h3>
                                                <div class="text">Cras ex justo, bibendum eget nunc fermentum, sollicitudin lobortis libero</div>
                                            </div>
                                        </div>
                                        <div class="middle">
                                            <div><b>150GB</b></div>
                                            <div><b>110GB</b></div>
                                            <div><b>Unlimated</b></div>
                                            <div><b>Unlimated</b></div>
                                            <div>Yes</div>
                                        </div>
                                        <div class="bottom">
                                            <div class="cell-view">
                                                <div class="price"><b>$150</b><span>/per year</span></div>
                                                <div class="clear"></div>
                                                <a class="button" href="#/checkout">get started</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="tabs-container">
                <div class="row nopadding">

                    <div class="custom-overflow-wrapper">
                        <div class="custom-overflow-container">
                            <div class="row nopadding">
                                <div class="price-entry title-column col-xs-3 nopadding">
                                    <div class="entry">
                                        <div class="middle">
                                            <div>Storage Space</div>
                                            <div>Bandwidth</div>
                                            <div>Sub-Domains</div>
                                            <div>E-mail Accounts</div>
                                            <div>Control Panel &amp; FTP</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="price-entry col-xs-3 nopadding">
                                    <div class="entry">
                                        <div class="top">
                                            <div class="cell-view">
                                                <h3 class="title">NRG Advanced #1</h3>
                                                <div class="text">Cras ex justo, bibendum eget nunc fermentum, sollicitudin lobortis libero</div>
                                            </div>
                                        </div>
                                        <div class="middle">
                                            <div><b>10GB</b></div>
                                            <div><b>50GB</b></div>
                                            <div><b>10 Free</b></div>
                                            <div><b>50</b></div>
                                            <div>Yes</div>
                                        </div>
                                        <div class="bottom">
                                            <div class="cell-view">
                                                <div class="price"><b>$50</b><span>/per year</span></div>
                                                <div class="clear"></div>
                                                <a class="button" href="#/checkout">get started</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="price-entry col-xs-3 nopadding">
                                    <div class="entry">
                                        <div class="top">
                                            <div class="cell-view">
                                                <h3 class="title">NRG Advanced #2</h3>
                                                <div class="text">Cras ex justo, bibendum eget nunc fermentum, sollicitudin lobortis libero</div>
                                            </div>
                                        </div>
                                        <div class="middle">
                                            <div><b>100GB</b></div>
                                            <div><b>75GB</b></div>
                                            <div><b>20 Free</b></div>
                                            <div><b>100</b></div>
                                            <div>Yes</div>
                                        </div>
                                        <div class="bottom">
                                            <div class="cell-view">
                                                <div class="price"><b>$75</b><span>/per year</span></div>
                                                <div class="clear"></div>
                                                <a class="button" href="#/checkout">get started</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="price-entry col-xs-3 nopadding">
                                    <div class="entry">
                                        <div class="top">
                                            <div class="cell-view">
                                                <h3 class="title">NRG Advanced #3</h3>
                                                <div class="text">Cras ex justo, bibendum eget nunc fermentum, sollicitudin lobortis libero</div>
                                                
                                            </div>
                                        </div>
                                        <div class="middle">
                                            <div><b>150GB</b></div>
                                            <div><b>110GB</b></div>
                                            <div><b>Unlimated</b></div>
                                            <div><b>Unlimated</b></div>
                                            <div>Yes</div>
                                        </div>
                                        <div class="bottom">
                                            <div class="cell-view">
                                                <div class="price"><b>$150</b><span>/per year</span></div>
                                                <div class="clear"></div>
                                                <a class="button" href="#/checkout">get started</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="tabs-container">
                <div class="row nopadding">

                    <div class="custom-overflow-wrapper">
                        <div class="custom-overflow-container">
                            <div class="row nopadding">
                                <div class="price-entry title-column col-xs-3 nopadding">
                                    <div class="entry">
                                        <div class="middle">
                                            <div>Storage Space</div>
                                            <div>Bandwidth</div>
                                            <div>Sub-Domains</div>
                                            <div>E-mail Accounts</div>
                                            <div>Control Panel &amp; FTP</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="price-entry col-xs-3 nopadding">
                                    <div class="entry">
                                        <div class="top">
                                            <div class="cell-view">
                                                <h3 class="title">NRG Pro #1</h3>
                                                <div class="text">Cras ex justo, bibendum eget nunc fermentum, sollicitudin lobortis libero</div>
                                            </div>
                                        </div>
                                        <div class="middle">
                                            <div><b>10GB</b></div>
                                            <div><b>50GB</b></div>
                                            <div><b>10 Free</b></div>
                                            <div><b>50</b></div>
                                            <div>Yes</div>
                                        </div>
                                        <div class="bottom">
                                            <div class="cell-view">
                                                <div class="price"><b>$50</b><span>/per year</span></div>
                                                <div class="clear"></div>
                                                <a class="button" href="#/checkout">get started</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="price-entry col-xs-3 nopadding">
                                    <div class="entry">
                                        <div class="top">
                                            <div class="cell-view">
                                                <h3 class="title">NRG Pro #2</h3>
                                                <div class="text">Cras ex justo, bibendum eget nunc fermentum, sollicitudin lobortis libero</div>
                                            </div>
                                        </div>
                                        <div class="middle">
                                            <div><b>100GB</b></div>
                                            <div><b>75GB</b></div>
                                            <div><b>20 Free</b></div>
                                            <div><b>100</b></div>
                                            <div>Yes</div>
                                        </div>
                                        <div class="bottom">
                                            <div class="cell-view">
                                                <div class="price"><b>$75</b><span>/per year</span></div>
                                                <div class="clear"></div>
                                                <a class="button" href="#/checkout">get started</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="price-entry col-xs-3 nopadding">
                                    <div class="entry">
                                        <div class="top">
                                            <div class="cell-view">
                                                <h3 class="title">NRG Pro #3</h3>
                                                <div class="text">Cras ex justo, bibendum eget nunc fermentum, sollicitudin lobortis libero</div>
                                            </div>
                                        </div>
                                        <div class="middle">
                                            <div><b>150GB</b></div>
                                            <div><b>110GB</b></div>
                                            <div><b>Unlimated</b></div>
                                            <div><b>Unlimated</b></div>
                                            <div>Yes</div>
                                        </div>
                                        <div class="bottom">
                                            <div class="cell-view">
                                                <div class="price"><b>$150</b><span>/per year</span></div>
                                                <div class="clear"></div>
                                                <a class="button" href="#/checkout">get started</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="tabs-container">
                <div class="row nopadding">

                    <div class="custom-overflow-wrapper">
                        <div class="custom-overflow-container">
                            <div class="row nopadding">
                                <div class="price-entry title-column col-xs-3 nopadding">
                                    <div class="entry">
                                        <div class="middle">
                                            <div>Storage Space</div>
                                            <div>Bandwidth</div>
                                            <div>Sub-Domains</div>
                                            <div>E-mail Accounts</div>
                                            <div>Control Panel &amp; FTP</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="price-entry col-xs-3 nopadding">
                                    <div class="entry">
                                        <div class="top">
                                            <div class="cell-view">
                                                <h3 class="title">NRG Pro+ #1</h3>
                                                <div class="text">Cras ex justo, bibendum eget nunc fermentum, sollicitudin lobortis libero</div>
                                            </div>
                                        </div>
                                        <div class="middle">
                                            <div><b>10GB</b></div>
                                            <div><b>50GB</b></div>
                                            <div><b>10 Free</b></div>
                                            <div><b>50</b></div>
                                            <div>Yes</div>
                                        </div>
                                        <div class="bottom">
                                            <div class="cell-view">
                                                <div class="price"><b>$50</b><span>/per year</span></div>
                                                <div class="clear"></div>
                                                <a class="button" href="#/checkout">get started</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="price-entry col-xs-3 nopadding">
                                    <div class="entry">
                                        <div class="top">
                                            <div class="cell-view">
                                                <h3 class="title">NRG Pro+ #2</h3>
                                                <div class="text">Cras ex justo, bibendum eget nunc fermentum, sollicitudin lobortis libero</div>
                                            </div>
                                        </div>
                                        <div class="middle">
                                            <div><b>100GB</b></div>
                                            <div><b>75GB</b></div>
                                            <div><b>20 Free</b></div>
                                            <div><b>100</b></div>
                                            <div>Yes</div>
                                        </div>
                                        <div class="bottom">
                                            <div class="cell-view">
                                                <div class="price"><b>$75</b><span>/per year</span></div>
                                                <div class="clear"></div>
                                                <a class="button" href="#/checkout">get started</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="price-entry col-xs-3 nopadding">
                                    <div class="entry">
                                        <div class="top">
                                            <div class="cell-view">
                                                <h3 class="title">NRG Pro+ #3</h3>
                                                <div class="text">Cras ex justo, bibendum eget nunc fermentum, sollicitudin lobortis libero</div>
                                            </div>
                                        </div>
                                        <div class="middle">
                                            <div><b>150GB</b></div>
                                            <div><b>110GB</b></div>
                                            <div><b>Unlimated</b></div>
                                            <div><b>Unlimated</b></div>
                                            <div>Yes</div>
                                        </div>
                                        <div class="bottom">
                                            <div class="cell-view">
                                                <div class="price"><b>$150</b><span>/per year</span></div>
                                                <div class="clear"></div>
                                                <a class="button" href="#/checkout">get started</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>


        


    </div>
</div>

<!-- BLOCK "TYPE 3" -->
<div class="block type-3">
    <div class="container">

        <div class="row wow fadeInDown">
            <div class="block-header col-md-6 col-md-offset-3 col-sm-12 col-sm-offset-0">
                <h2 class="title">Our VPS Hosting Features</h2>
                <div class="text">Integer faucibus, dui quis pellentesque vestibulum, nulla ante aliquet turpis, in consectetur ex dui vitae erat in eleifend eros</div>
            </div>
        </div>

        <div class="row">
            <div class="icon-entry col-sm-6 col-md-3 wow fadeInLeft" data-wow-delay="0.3s">
                <img class="img-circle" src="img/icon-69.png" alt="" />
                <div class="content">
                    <h3 class="title">High Performance</h3>
                    <div class="text">Duis posuere blandit orci sed tincidunt. Curabitur porttitor nisi ac nunc ornare, in fringilla nisl blandit.</div>
                </div>
            </div>
            <div class="icon-entry col-sm-6 col-md-3 wow fadeInLeft">
                <img class="img-circle" src="img/icon-70.png" alt="" />
                <div class="content">
                    <h3 class="title">Enhanced Security</h3>
                    <div class="text">Duis posuere blandit orci sed tincidunt. Curabitur porttitor nisi ac nunc ornare, in fringilla nisl blandit.</div>
                </div>
            </div>

            <div class="clearfix visible-sm"></div>

            <div class="icon-entry col-sm-6 col-md-3 wow fadeInRight">
                <img class="img-circle" src="img/icon-71.png" alt="" />
                <div class="content">
                    <h3 class="title">Spam Guard</h3>
                    <div class="text">Duis posuere blandit orci sed tincidunt. Curabitur porttitor nisi ac nunc ornare, in fringilla nisl blandit.</div>
                </div>
            </div>
            <div class="icon-entry col-sm-6 col-md-3 wow fadeInRight" data-wow-delay="0.3s">
                <img class="img-circle" src="img/icon-72.png" alt="" />
                <div class="content">
                    <h3 class="title">Great Support</h3>
                    <div class="text">Duis posuere blandit orci sed tincidunt. Curabitur porttitor nisi ac nunc ornare, in fringilla nisl blandit.</div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- BLOCK "TYPE 5" -->
<div class="block type-5">
    <div class="container">

        <div class="row wow fadeInDown">
            <div class="block-header col-md-6 col-md-offset-3 col-sm-12 col-sm-offset-0">
                <h2 class="title">Technical Specifications</h2>
                <div class="text">Curabitur nunc neque, mollis viverra ex in, auctor elementum mi. Donec non purus felis. Duis interdum mi id purub</div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">

                <div class="typography-block wow fadeInLeft" data-wow-delay="0.3s">
                    <ul class="list-type-1">
                        <li><b>UNLIMITED</b> Domains</li>
                        <li><b>UNLIMITED</b> Sub Domains</li>
                        <li><b>UNLIMITED</b> Email Accounts</li>
                        <li><b>UNLIMITED</b> MySQL Databases</li>
                    </ul>
                </div>

            </div>
            <div class="col-md-4">

                <div class="typography-block wow fadeInUp" data-wow-delay="0.4s">
                    <ul class="list-type-1">
                        <li><b>WEEKLY</b> Off Site Backups</li>
                        <li><b>UNLIMITED FTP</b> Accounts</li>
                        <li><b>FREE</b> Site Site Builder Software*</li>
                        <li><b>PRIVATE</b> Name Servers</li>
                    </ul>
                </div>

            </div>
            <div class="col-md-4">

                <div class="typography-block wow fadeInRight" data-wow-delay="0.3s">
                    <ul class="list-type-1">
                        <li><b>FULL</b> Root Access</li>
                        <li><b>24/7/365</b> Award-Winning Support</li>
                        <li><b>FULLY</b> Managed (w/ cPanel)*</li>
                    </ul>
                </div>

            </div>
        </div>



    </div>
</div>

<!-- BLOCK "TYPE 6" -->
<div class="block type-6">
    <div class="container">
        <div class="row">
            <div class="col-md-6 wow fadeInLeft">

                <div class="typography-block">
                    <h6>VPS Server Features</h6>
                    <ul>
                        <li>CentOS Linux with Full Root Access (64-bit with 32-bit Compatibility)</li>
                        <li>Optional cPanel with WHM Control Panel (cPanel Demo | WHM Demo)</li>
                        <li>Apache Web Server (Must be installed by user on semi-managed plans)</li>
                        <li>Supports: MySQL, PHP, Perl, Python (Django), Ruby (on Rails), FFMpeg</li>
                        <li>Secured VPS with free IPTables Firewall</li>
                    </ul>
                </div>

            </div>
            <div class="col-md-6 wow fadeInRight">

                <div class="typography-block">
                    <h6>Free With Each VPS Plan</h6>
                    <ul>
                        <li>Free SiteBuilder Website Building Tool</li>
                        <li>4,500 Free Website Templates (View Website Templates)</li>
                        <li>Free Website Transfer, Domain Transfer, MySQL Transfer, Script Transfer (Details)</li>
                        <li>52 Free scripts can be instantly installed on your account with a few clicks</li>
                        <li>Safe Harbor Certified (Details)</li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
</div>
