<!-- BLOCK "TYPE 10" -->
<div class="block type-10">
    <ang-swiper templatepath="modules/hosting/directives/shared/shared-hosting-slider.html"></ang-swiper>
</div>

<!-- BLOCK "TYPE 10" -->
<div class="block type-9">
    <div class="container">
        <div class="entry">
            <h3 class="title wow fadeInLeft">Be Smarter!</h3>
            <div class="text wow fadeInRight"><b>Choose Best Plan &amp; Improve Your Business</b> &nbsp; <a class="button" href="#">Compare all plans</a></div>
        </div>
    </div>
</div>

<!-- BLOCK "TYPE 16" -->
<div class="block type-16">
    <div class="container">
       
        <div class="row wow fadeInDown">
            <div class="block-header col-md-6 col-md-offset-3 col-sm-12 col-sm-offset-0">
                <h2 class="title">Our Shared Hosting Features</h2>
                <div class="text">Integer faucibus, dui quis pellentesque vestibulum, nulla ante aliquet turpis, in consectetur ex dui vitae erat in eleifend eros</div>
                
            </div>
        </div>

        <div class="timeline">
            <div class="row">
                <div class="col-md-6 timeline-entry wow fadeInLeft">
                    <div class="timeline-entry-container">
                        <div class="image-wrapper">
                            <img class="img-circle" src="img/icon-79.png" alt="" />
                        </div>
                        <div class="content">
                            <div class="cell-view">
                                <h3 class="title">Fast Load Time</h3>
                                <div class="text">Duis posuere blandit orci sed tincidunt. Curabitur porttitor nisi ac nunc ornare, in fringilla nisl blandit.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 timeline-entry wow fadeInRight">
                    <div class="timeline-entry-container">
                        <div class="image-wrapper">
                            <img class="img-circle" src="img/icon-80.png" alt="" />
                        </div>
                        <div class="content">
                            <div class="cell-view">
                                <h3 class="title">Greate Support</h3>
                                <div class="text">Duis posuere blandit orci sed tincidunt. Curabitur porttitor nisi ac nunc ornare, in fringilla nisl blandit.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 timeline-entry wow fadeInLeft">
                    <div class="timeline-entry-container">
                        <div class="image-wrapper">
                            <img class="img-circle" src="img/icon-81.png" alt="" />
                        </div>
                        <div class="content">
                            <div class="cell-view">
                                <h3 class="title">Domains &amp; Emails</h3>
                                <div class="text">Duis posuere blandit orci sed tincidunt. Curabitur porttitor nisi ac nunc ornare, in fringilla nisl blandit.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 timeline-entry wow fadeInRight">
                    <div class="timeline-entry-container">
                        <div class="image-wrapper">
                            <img class="img-circle" src="img/icon-82.png" alt="" />
                        </div>
                        <div class="content">
                            <div class="cell-view">
                                <h3 class="title">Easy Instalation</h3>
                                <div class="text">Duis posuere blandit orci sed tincidunt. Curabitur porttitor nisi ac nunc ornare, in fringilla nisl blandit.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 timeline-entry wow fadeInLeft">
                    <div class="timeline-entry-container">
                        <div class="image-wrapper">
                            <img class="img-circle" src="img/icon-83.png" alt="" />
                        </div>
                        <div class="content">
                            <div class="cell-view">
                                <h3 class="title">Hi Quality Equipment</h3>
                                <div class="text">Duis posuere blandit orci sed tincidunt. Curabitur porttitor nisi ac nunc ornare, in fringilla nisl blandit.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 timeline-entry wow fadeInRight">
                    <div class="timeline-entry-container">
                        <div class="image-wrapper">
                            <img class="img-circle" src="img/icon-84.png" alt="" />
                        </div>
                        <div class="content">
                            <div class="cell-view">
                                <h3 class="title">High Performance</h3>
                                <div class="text">Duis posuere blandit orci sed tincidunt. Curabitur porttitor nisi ac nunc ornare, in fringilla nisl blandit.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="block-button-container wow fadeInUp">
            <a class="button" href="host-faq.html">still have a questions?</a>
        </div>

    </div>
</div>

<!-- BLOCK "TYPE 2" -->
<div class="block type-2">
    <div class="container">

        <div class="row wow fadeInDown">
            <div class="block-header col-md-6 col-md-offset-3 col-sm-12 col-sm-offset-0">
                <h2 class="title">Linux or Windows</h2>
                <div class="text">Integer faucibus, dui quis pellentesque vestibulum, nulla ante aliquet turpis, in consectetur ex dui vitae erat in eleifend eros</div>
            </div>
        </div>
        
        <div class="row">
            <div class="price-entry col-sm-6 col-xs-12 wow fadeInLeft" data-wow-delay="0.3s">
                <div class="entry">
                    <div class="top">
                        <div class="cell-view">
                            <h3 class="title">Linux Servers</h3>
                            <div class="text">Cras ex justo, bibendum eget nunc fermentum, sollicitudin lobortis. Nullam bibendum vehicula venenatis. Nam scelerisque elit ac dui rutrum.</div>
                        </div>
                    </div>
                    <div class="middle">
                        <div>Vestibulum tincidunt nisl nisl</div>
                        <div>Pellentesque tincidunt, dolor sed</div>
                        <div>In vel laoreet lectus, id malesuada</div>
                        <div>Phasellus volutpat arcu ut ornare euismod</div>
                        <div>Vestibulum sollicitudin</div>
                    </div>
                    <div class="bottom">
                        <div class="cell-view">
                            <div class="price">From <b>$2</b><span>/per month</span></div>
                            <div class="clear"></div>
                            <a href="hosting.html" class="button">view all linux servers</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="price-entry col-sm-6 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
                <div class="entry">
                    <div class="top">
                        <div class="cell-view">
                            <h3 class="title">Windows Servers</h3>
                            <div class="text">Cras ex justo, bibendum eget nunc fermentum, sollicitudin lobortis. Nullam bibendum vehicula venenatis. Nam scelerisque elit ac dui rutrum.</div>
                        </div>
                    </div>
                    <div class="middle">
                        <div>Vestibulum tincidunt nisl nisl</div>
                        <div>Pellentesque tincidunt, dolor sed</div>
                        <div>In vel laoreet lectus, id malesuada</div>
                        <div>Phasellus volutpat arcu ut ornare euismod</div>
                        <div>Vestibulum sollicitudin</div>
                    </div>
                    <div class="bottom">
                        <div class="cell-view">
                            <div class="price">From <b>$4</b><span>/per month</span></div>
                            <div class="clear"></div>
                            <a href="hosting.html" class="button">view all windows servers</a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- BLOCK "TYPE 4" -->
<div class="block type-4">
    <div class="container">

        <div class="row wow fadeInDown">
            <div class="block-header col-md-6 col-md-offset-3 col-sm-12 col-sm-offset-0">
                <h2 class="title">Shared Plan`s Comparison</h2>
                <div class="text">Integer faucibus, dui quis pellentesque vestibulum, nulla ante aliquet turpis, in consectetur ex dui vitae erat in eleifend eros</div>
            </div>
        </div>

        <div class="block-table-container wow fadeInUp">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <th></th>
                            <th>
                                <div>NRG Starter</div>
                            </th>
                            <th>
                                <div>NRG Basic</div>
                            </th>
                            <th>
                                <div>NRG Gold</div>
                            </th>
                            <th>
                                <div>NRG Platinum</div>
                            </th>
                        </tr>
                        <tr>
                            <td>Disk Space</td>
                            <td><b>50Gb</b></td>
                            <td><b>80Gb</b></td>
                            <td><b>120Gb</b></td>
                            <td><b>200Gb</b></td>
                        </tr>
                        <tr>
                            <td>Bandwidth</td>
                            <td><b>500Gb</b></td>
                            <td><b>700Gb</b></td>
                            <td><b>1000Gb</b></td>
                            <td><b>1500Gb</b></td>
                        </tr>
                        <tr>
                            <td>Domains</td>
                            <td><b>Unlimited</b></td>
                            <td><b>Unlimited</b></td>
                            <td><b>Unlimited</b></td>
                            <td><b>Unlimited</b></td>
                        </tr>
                        <tr>
                            <td>Dedicated IP</td>
                            <td><b>No</b></td>
                            <td><b>No</b></td>
                            <td><b>Yes</b></td>
                            <td><b>Yes</b></td>
                        </tr>
                        <tr>
                            <td>Backups</td>
                            <td><b>No</b></td>
                            <td><b>Yes</b></td>
                            <td><b>Yes</b></td>
                            <td><b>Yes</b></td>
                        </tr>
                        <tr>
                            <td>Free setup</td>
                            <td><b>No</b></td>
                            <td><b>No</b></td>
                            <td><b>Yes</b></td>
                            <td><b>Yes</b></td>
                        </tr>
                        <tr>
                            <td>Support</td>
                            <td><b>24/7</b></td>
                            <td><b>24/7</b></td>
                            <td><b>24/7</b></td>
                            <td><b>24/7</b></td>
                        </tr>
                        <tr>
                            <td>Price (per month)</td>
                            <td><b>$15.50</b></td>
                            <td><b>$25.50</b></td>
                            <td><b>$35.50</b></td>
                            <td><b>$55.50</b></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><a href="#" class="button">choose a plan</a></td>
                            <td><a href="#" class="button">choose a plan</a></td>
                            <td><a href="#" class="button">choose a plan</a></td>
                            <td><a href="#" class="button">choose a plan</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<!-- BLOCK "TYPE 6" -->
<div class="block type-6">
    <div class="container">

        <div class="row wow fadeInDown">
            <div class="block-header col-md-6 col-md-offset-3 col-sm-12 col-sm-offset-0">
                <h2 class="title">Shared Plan`s Comparison</h2>
                <div class="text">Integer faucibus, dui quis pellentesque vestibulum, nulla ante aliquet turpis, in consectetur ex dui vitae erat in eleifend eros</div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 wow fadeInLeft">

                <div class="typography-block">
                    <h6>VPS Server Features</h6>
                    <ul>
                        <li>CentOS Linux with Full Root Access (64-bit with 32-bit Compatibility)</li>
                        <li>Optional cPanel with WHM Control Panel (cPanel Demo | WHM Demo)</li>
                        <li>Apache Web Server (Must be installed by user on semi-managed plans)</li>
                        <li>Supports: MySQL, PHP, Perl, Python (Django), Ruby (on Rails), FFMpeg</li>
                        <li>Secured VPS with free IPTables Firewall</li>
                    </ul>
                </div>

            </div>
            <div class="col-md-6 wow fadeInRight">

                <div class="typography-block">
                    <h6>Free With Each VPS Plan</h6>
                    <ul>
                        <li>Free SiteBuilder Website Building Tool</li>
                        <li>4,500 Free Website Templates (View Website Templates)</li>
                        <li>Free Website Transfer, Domain Transfer, MySQL Transfer, Script Transfer (Details)</li>
                        <li>52 Free scripts can be instantly installed on your account with a few clicks</li>
                        <li>Safe Harbor Certified (Details)</li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
</div>
