<!-- BLOCK "TYPE 6" -->
<div class="block type-6">
    <div class="container">

        <div class="row wow fadeInDown">
            <div class="block-header col-md-6 col-md-offset-3 col-sm-12 col-sm-offset-0">
                <h2 class="title">FAQ</h2>
                <div class="text">Curabitur nunc neque, mollis viverra ex in, auctor elementum mi. Donec non purus felis. Duis interdum mi id purub</div>
            </div>
        </div>

        <div class="accordeon-wrapper wow fadeInUp">
            <host-accordian></host-accordian>
        </div>

    </div>
</div>

<!-- BLOCK "TYPE 17" -->
<div class="block type-17">
    <div class="container">

        <div class="row wow fadeInDown">
            <div class="block-header col-md-6 col-md-offset-3 col-sm-12 col-sm-offset-0">
                <h2 class="title">Popular FAQ</h2>
                <div class="text">Curabitur nunc neque, mollis viverra ex in, auctor elementum mi. Donec non purus felis. Duis interdum mi id purub</div>
            </div>
        </div>

        <div class="popular-faq-entry wow fadeInLeft">
            <div class="image-wrapper">
                <img class="img-circle" src="img/icon-109.png" alt="" />
            </div>
            <div class="content">
                <h3 class="title">Integer vitae rhoncus enim</h3>
                <div class="text">Duis interdum mi id purus feugiat, eu sagittis diam finibus. Duis efficitur ante eget nibh finibus, at tincidunt nibh aliquet. Nulla viverra, diam eget vestibulum mollis, eros dui tincidunt ligula, ac tincidunt metus ipsum sit amet arcuorbi cursus. Fusce facilisis metus vitae lorem pharetra aliquet. Mauris pharetra orci non massa pretium, sit amet condimentum nibh fermentum. Vivamus arcu sem, suscipit et suscipit nec, facilisis id justo. </div>
            </div>
        </div>
        <div class="clear"></div>

        <div class="popular-faq-entry wow fadeInLeft">
            <div class="image-wrapper">
                <img class="img-circle" src="img/icon-110.png" alt="" />
            </div>
            <div class="content">
                <h3 class="title">Phasellus vel odio commodo, pharetra urna sit amet</h3>
                <div class="text">Curabitur nunc neque, mollis viverra ex in, auctor elementum mi. Donec non purus felis. Duis interdum mi id purus feugiat, eu sagittis diam finibus. Duis efficitur ante eget nibh finibus, at tincidunt nibh aliquet. Nulla viverra, diam eget vestibulum mollis, eros dui tincidunt ligula, ac tincidunt metus ipsum sit amet arcuorbi cursus. Fusce facilisis metus vitae lorem pharetra aliquet. Mauris pharetra orci non massa pretium, sit amet condimentum nibh fermentum. Vivamus arcu sem, suscipit et suscipit nec, facilisis id justo. </div>
            </div>
        </div>
        <div class="clear"></div>

        <div class="popular-faq-entry wow fadeInLeft">
            <div class="image-wrapper">
                <img class="img-circle" src="img/icon-111.png" alt="" />
            </div>
            <div class="content">
                <h3 class="title">Phasellus vel odio commodo, pharetra urna sit amet</h3>
                <div class="text">Curabitur nunc neque, mollis viverra ex in, auctor elementum mi. Donec non purus felis. Duis interdum mi id purus feugiat, eu sagittis diam finibus. Duis efficitur ante eget nibh finibus, at tincidunt nibh aliquet. Nulla viverra, diam eget vestibulum mollis, eros dui tincidunt ligula. </div>
            </div>
        </div>
        <div class="clear"></div>


    </div>
</div>

<!-- BLOCK "TYPE 6" -->
<div class="block type-6">
    <div class="container">

        <div class="row wow fadeInDown">
            <div class="block-header col-md-6 col-md-offset-3 col-sm-12 col-sm-offset-0">
                <h2 class="title">FAQ With Categories</h2>
                <div class="text">Curabitur nunc neque, mollis viverra ex in, auctor elementum mi. Donec non purus felis. Duis interdum mi id purub</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 wow fadeInLeft">
                <div class="side-menu faq-switcher">
                    <div class="title">FAQ Categories</div>
                    <div class="side-menu-item active"><span class="glyphicon glyphicon-chevron-right"></span>Phasellus vel odio commodo</div>
                    <div class="side-menu-item"><span class="glyphicon glyphicon-chevron-right"></span>Fusce congue vulputate mauris</div>
                    <div class="side-menu-item"><span class="glyphicon glyphicon-chevron-right"></span>Pellentesque sit amet</div>
                    <div class="side-menu-item"><span class="glyphicon glyphicon-chevron-right"></span>Mauris finibus nunc mi</div>
                    <div class="side-menu-item"><span class="glyphicon glyphicon-chevron-right"></span>Integer vitae rhoncus enim</div>
                    <div class="side-menu-item"><span class="glyphicon glyphicon-chevron-right"></span>Interdum et malesuada fames</div>
                    <div class="side-menu-item"><span class="glyphicon glyphicon-chevron-right"></span>Ut fermentum risus in enim</div>
                </div>
            </div>
            <div class="col-sm-9 wow fadeInRight">
                <div class="switch-container" style="display: block;">
                    <div class="accordeon-wrapper">
                        <div class="accordeon-entry active">
                            <div class="title">Mauris augue mauris</div>
                            <div style="display: block;" class="text">Nulla ut ante vel lorem tempus lobortis. Sed quam metus, faucibus et pulvinar ut, volutpat ut orci. Nulla ornare ex lectus. Integer non neque sed eros sollicitudin congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam vel lectus in urna mattis ullamcorper. Etiam vel dolor leo. Vestibulum congue dolor at sollicitudin placerat. Mauris cursus vestibulum sapien ut ultricies. Praesent est arcu, condimentum.</div>
                        </div>

                        <div class="accordeon-entry">
                            <div class="title">Maecenas euismod ultrices urna sit amet</div>
                            <div class="text">Nulla ut ante vel lorem tempus lobortis. Sed quam metus, faucibus et pulvinar ut, volutpat ut orci. Nulla ornare ex lectus. Integer non neque sed eros sollicitudin congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam vel lectus in urna mattis ullamcorper. Etiam vel dolor leo. Vestibulum congue dolor at sollicitudin placerat. Mauris cursus vestibulum sapien ut ultricies. Praesent est arcu, condimentum.</div>
                        </div>

                        <div class="accordeon-entry">
                            <div class="title">Vestibulum ornare, sem vitae tempus ornare</div>
                            <div class="text">Nulla ut ante vel lorem tempus lobortis. Sed quam metus, faucibus et pulvinar ut, volutpat ut orci. Nulla ornare ex lectus. Integer non neque sed eros sollicitudin congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam vel lectus in urna mattis ullamcorper. Etiam vel dolor leo. Vestibulum congue dolor at sollicitudin placerat. Mauris cursus vestibulum sapien ut ultricies. Praesent est arcu, condimentum.</div>
                        </div>

                        <div class="accordeon-entry">
                            <div class="title">Etiam sed ligula anteem vitae tempus ornare</div>
                            <div class="text">Nulla ut ante vel lorem tempus lobortis. Sed quam metus, faucibus et pulvinar ut, volutpat ut orci. Nulla ornare ex lectus. Integer non neque sed eros sollicitudin congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam vel lectus in urna mattis ullamcorper. Etiam vel dolor leo. Vestibulum congue dolor at sollicitudin placerat. Mauris cursus vestibulum sapien ut ultricies. Praesent est arcu, condimentum.</div>
                        </div>

                        <div class="accordeon-entry">
                            <div class="title">Curabitur quis ante a felis eleifend</div>
                            <div class="text">Nulla ut ante vel lorem tempus lobortis. Sed quam metus, faucibus et pulvinar ut, volutpat ut orci. Nulla ornare ex lectus. Integer non neque sed eros sollicitudin congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam vel lectus in urna mattis ullamcorper. Etiam vel dolor leo. Vestibulum congue dolor at sollicitudin placerat. Mauris cursus vestibulum sapien ut ultricies. Praesent est arcu, condimentum.</div>
                        </div>
                    </div>
                </div>

                <div class="switch-container">
                    <div class="accordeon-wrapper">
                        <div class="accordeon-entry active">
                            <div class="title">Mauris augue mauris</div>
                            <div style="display: block;" class="text">Nulla ut ante vel lorem tempus lobortis. Sed quam metus, faucibus et pulvinar ut, volutpat ut orci. Nulla ornare ex lectus. Integer non neque sed eros sollicitudin congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam vel lectus in urna mattis ullamcorper. Etiam vel dolor leo. Vestibulum congue dolor at sollicitudin placerat. Mauris cursus vestibulum sapien ut ultricies. Praesent est arcu, condimentum.</div>
                        </div>

                        <div class="accordeon-entry">
                            <div class="title">Maecenas euismod ultrices urna sit amet</div>
                            <div class="text">Nulla ut ante vel lorem tempus lobortis. Sed quam metus, faucibus et pulvinar ut, volutpat ut orci. Nulla ornare ex lectus. Integer non neque sed eros sollicitudin congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam vel lectus in urna mattis ullamcorper. Etiam vel dolor leo. Vestibulum congue dolor at sollicitudin placerat. Mauris cursus vestibulum sapien ut ultricies. Praesent est arcu, condimentum.</div>
                        </div>

                        <div class="accordeon-entry">
                            <div class="title">Vestibulum ornare, sem vitae tempus ornare</div>
                            <div class="text">Nulla ut ante vel lorem tempus lobortis. Sed quam metus, faucibus et pulvinar ut, volutpat ut orci. Nulla ornare ex lectus. Integer non neque sed eros sollicitudin congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam vel lectus in urna mattis ullamcorper. Etiam vel dolor leo. Vestibulum congue dolor at sollicitudin placerat. Mauris cursus vestibulum sapien ut ultricies. Praesent est arcu, condimentum.</div>
                        </div>

                        <div class="accordeon-entry">
                            <div class="title">Curabitur quis ante a felis eleifend</div>
                            <div class="text">Nulla ut ante vel lorem tempus lobortis. Sed quam metus, faucibus et pulvinar ut, volutpat ut orci. Nulla ornare ex lectus. Integer non neque sed eros sollicitudin congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam vel lectus in urna mattis ullamcorper. Etiam vel dolor leo. Vestibulum congue dolor at sollicitudin placerat. Mauris cursus vestibulum sapien ut ultricies. Praesent est arcu, condimentum.</div>
                        </div>
                    </div>
                </div>

                <div class="switch-container">
                    <div class="accordeon-wrapper">
                        <div class="accordeon-entry active">
                            <div class="title">Mauris augue mauris</div>
                            <div style="display: block;" class="text">Nulla ut ante vel lorem tempus lobortis. Sed quam metus, faucibus et pulvinar ut, volutpat ut orci. Nulla ornare ex lectus. Integer non neque sed eros sollicitudin congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam vel lectus in urna mattis ullamcorper. Etiam vel dolor leo. Vestibulum congue dolor at sollicitudin placerat. Mauris cursus vestibulum sapien ut ultricies. Praesent est arcu, condimentum.</div>
                        </div>

                        <div class="accordeon-entry">
                            <div class="title">Maecenas euismod ultrices urna sit amet</div>
                            <div class="text">Nulla ut ante vel lorem tempus lobortis. Sed quam metus, faucibus et pulvinar ut, volutpat ut orci. Nulla ornare ex lectus. Integer non neque sed eros sollicitudin congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam vel lectus in urna mattis ullamcorper. Etiam vel dolor leo. Vestibulum congue dolor at sollicitudin placerat. Mauris cursus vestibulum sapien ut ultricies. Praesent est arcu, condimentum.</div>
                        </div>

                        <div class="accordeon-entry">
                            <div class="title">Vestibulum ornare, sem vitae tempus ornare</div>
                            <div class="text">Nulla ut ante vel lorem tempus lobortis. Sed quam metus, faucibus et pulvinar ut, volutpat ut orci. Nulla ornare ex lectus. Integer non neque sed eros sollicitudin congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam vel lectus in urna mattis ullamcorper. Etiam vel dolor leo. Vestibulum congue dolor at sollicitudin placerat. Mauris cursus vestibulum sapien ut ultricies. Praesent est arcu, condimentum.</div>
                        </div>

                    </div>
                </div>

                <div class="switch-container">
                    <div class="accordeon-wrapper">
                        <div class="accordeon-entry active">
                            <div class="title">Mauris augue mauris</div>
                            <div style="display: block;" class="text">Nulla ut ante vel lorem tempus lobortis. Sed quam metus, faucibus et pulvinar ut, volutpat ut orci. Nulla ornare ex lectus. Integer non neque sed eros sollicitudin congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam vel lectus in urna mattis ullamcorper. Etiam vel dolor leo. Vestibulum congue dolor at sollicitudin placerat. Mauris cursus vestibulum sapien ut ultricies. Praesent est arcu, condimentum.</div>
                        </div>

                        <div class="accordeon-entry">
                            <div class="title">Maecenas euismod ultrices urna sit amet</div>
                            <div class="text">Nulla ut ante vel lorem tempus lobortis. Sed quam metus, faucibus et pulvinar ut, volutpat ut orci. Nulla ornare ex lectus. Integer non neque sed eros sollicitudin congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam vel lectus in urna mattis ullamcorper. Etiam vel dolor leo. Vestibulum congue dolor at sollicitudin placerat. Mauris cursus vestibulum sapien ut ultricies. Praesent est arcu, condimentum.</div>
                        </div>

                        <div class="accordeon-entry">
                            <div class="title">Vestibulum ornare, sem vitae tempus ornare</div>
                            <div class="text">Nulla ut ante vel lorem tempus lobortis. Sed quam metus, faucibus et pulvinar ut, volutpat ut orci. Nulla ornare ex lectus. Integer non neque sed eros sollicitudin congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam vel lectus in urna mattis ullamcorper. Etiam vel dolor leo. Vestibulum congue dolor at sollicitudin placerat. Mauris cursus vestibulum sapien ut ultricies. Praesent est arcu, condimentum.</div>
                        </div>

                        <div class="accordeon-entry">
                            <div class="title">Etiam sed ligula anteem vitae tempus ornare</div>
                            <div class="text">Nulla ut ante vel lorem tempus lobortis. Sed quam metus, faucibus et pulvinar ut, volutpat ut orci. Nulla ornare ex lectus. Integer non neque sed eros sollicitudin congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam vel lectus in urna mattis ullamcorper. Etiam vel dolor leo. Vestibulum congue dolor at sollicitudin placerat. Mauris cursus vestibulum sapien ut ultricies. Praesent est arcu, condimentum.</div>
                        </div>

                        <div class="accordeon-entry">
                            <div class="title">Curabitur quis ante a felis eleifend</div>
                            <div class="text">Nulla ut ante vel lorem tempus lobortis. Sed quam metus, faucibus et pulvinar ut, volutpat ut orci. Nulla ornare ex lectus. Integer non neque sed eros sollicitudin congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam vel lectus in urna mattis ullamcorper. Etiam vel dolor leo. Vestibulum congue dolor at sollicitudin placerat. Mauris cursus vestibulum sapien ut ultricies. Praesent est arcu, condimentum.</div>
                        </div>
                    </div>
                </div>

                <div class="switch-container">
                    <div class="accordeon-wrapper">
                        <div class="accordeon-entry active">
                            <div class="title">Mauris augue mauris</div>
                            <div style="display: block;" class="text">Nulla ut ante vel lorem tempus lobortis. Sed quam metus, faucibus et pulvinar ut, volutpat ut orci. Nulla ornare ex lectus. Integer non neque sed eros sollicitudin congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam vel lectus in urna mattis ullamcorper. Etiam vel dolor leo. Vestibulum congue dolor at sollicitudin placerat. Mauris cursus vestibulum sapien ut ultricies. Praesent est arcu, condimentum.</div>
                        </div>

                        <div class="accordeon-entry">
                            <div class="title">Maecenas euismod ultrices urna sit amet</div>
                            <div class="text">Nulla ut ante vel lorem tempus lobortis. Sed quam metus, faucibus et pulvinar ut, volutpat ut orci. Nulla ornare ex lectus. Integer non neque sed eros sollicitudin congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam vel lectus in urna mattis ullamcorper. Etiam vel dolor leo. Vestibulum congue dolor at sollicitudin placerat. Mauris cursus vestibulum sapien ut ultricies. Praesent est arcu, condimentum.</div>
                        </div>

                        <div class="accordeon-entry">
                            <div class="title">Vestibulum ornare, sem vitae tempus ornare</div>
                            <div class="text">Nulla ut ante vel lorem tempus lobortis. Sed quam metus, faucibus et pulvinar ut, volutpat ut orci. Nulla ornare ex lectus. Integer non neque sed eros sollicitudin congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam vel lectus in urna mattis ullamcorper. Etiam vel dolor leo. Vestibulum congue dolor at sollicitudin placerat. Mauris cursus vestibulum sapien ut ultricies. Praesent est arcu, condimentum.</div>
                        </div>

                        <div class="accordeon-entry">
                            <div class="title">Etiam sed ligula anteem vitae tempus ornare</div>
                            <div class="text">Nulla ut ante vel lorem tempus lobortis. Sed quam metus, faucibus et pulvinar ut, volutpat ut orci. Nulla ornare ex lectus. Integer non neque sed eros sollicitudin congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam vel lectus in urna mattis ullamcorper. Etiam vel dolor leo. Vestibulum congue dolor at sollicitudin placerat. Mauris cursus vestibulum sapien ut ultricies. Praesent est arcu, condimentum.</div>
                        </div>

                        <div class="accordeon-entry">
                            <div class="title">Curabitur quis ante a felis eleifend</div>
                            <div class="text">Nulla ut ante vel lorem tempus lobortis. Sed quam metus, faucibus et pulvinar ut, volutpat ut orci. Nulla ornare ex lectus. Integer non neque sed eros sollicitudin congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam vel lectus in urna mattis ullamcorper. Etiam vel dolor leo. Vestibulum congue dolor at sollicitudin placerat. Mauris cursus vestibulum sapien ut ultricies. Praesent est arcu, condimentum.</div>
                        </div>
                    </div>
                </div>

                <div class="switch-container">
                    <div class="accordeon-wrapper">
                        <div class="accordeon-entry active">
                            <div class="title">Mauris augue mauris</div>
                            <div style="display: block;" class="text">Nulla ut ante vel lorem tempus lobortis. Sed quam metus, faucibus et pulvinar ut, volutpat ut orci. Nulla ornare ex lectus. Integer non neque sed eros sollicitudin congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam vel lectus in urna mattis ullamcorper. Etiam vel dolor leo. Vestibulum congue dolor at sollicitudin placerat. Mauris cursus vestibulum sapien ut ultricies. Praesent est arcu, condimentum.</div>
                        </div>

                        <div class="accordeon-entry">
                            <div class="title">Maecenas euismod ultrices urna sit amet</div>
                            <div class="text">Nulla ut ante vel lorem tempus lobortis. Sed quam metus, faucibus et pulvinar ut, volutpat ut orci. Nulla ornare ex lectus. Integer non neque sed eros sollicitudin congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam vel lectus in urna mattis ullamcorper. Etiam vel dolor leo. Vestibulum congue dolor at sollicitudin placerat. Mauris cursus vestibulum sapien ut ultricies. Praesent est arcu, condimentum.</div>
                        </div>

                        <div class="accordeon-entry">
                            <div class="title">Vestibulum ornare, sem vitae tempus ornare</div>
                            <div class="text">Nulla ut ante vel lorem tempus lobortis. Sed quam metus, faucibus et pulvinar ut, volutpat ut orci. Nulla ornare ex lectus. Integer non neque sed eros sollicitudin congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam vel lectus in urna mattis ullamcorper. Etiam vel dolor leo. Vestibulum congue dolor at sollicitudin placerat. Mauris cursus vestibulum sapien ut ultricies. Praesent est arcu, condimentum.</div>
                        </div>

                        <div class="accordeon-entry">
                            <div class="title">Etiam sed ligula anteem vitae tempus ornare</div>
                            <div class="text">Nulla ut ante vel lorem tempus lobortis. Sed quam metus, faucibus et pulvinar ut, volutpat ut orci. Nulla ornare ex lectus. Integer non neque sed eros sollicitudin congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam vel lectus in urna mattis ullamcorper. Etiam vel dolor leo. Vestibulum congue dolor at sollicitudin placerat. Mauris cursus vestibulum sapien ut ultricies. Praesent est arcu, condimentum.</div>
                        </div>

                        <div class="accordeon-entry">
                            <div class="title">Curabitur quis ante a felis eleifend</div>
                            <div class="text">Nulla ut ante vel lorem tempus lobortis. Sed quam metus, faucibus et pulvinar ut, volutpat ut orci. Nulla ornare ex lectus. Integer non neque sed eros sollicitudin congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam vel lectus in urna mattis ullamcorper. Etiam vel dolor leo. Vestibulum congue dolor at sollicitudin placerat. Mauris cursus vestibulum sapien ut ultricies. Praesent est arcu, condimentum.</div>
                        </div>

                        <div class="accordeon-entry">
                            <div class="title">Vestibulum ornare, sem vitae tempus ornare</div>
                            <div class="text">Nulla ut ante vel lorem tempus lobortis. Sed quam metus, faucibus et pulvinar ut, volutpat ut orci. Nulla ornare ex lectus. Integer non neque sed eros sollicitudin congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam vel lectus in urna mattis ullamcorper. Etiam vel dolor leo. Vestibulum congue dolor at sollicitudin placerat. Mauris cursus vestibulum sapien ut ultricies. Praesent est arcu, condimentum.</div>
                        </div>

                        <div class="accordeon-entry">
                            <div class="title">Etiam sed ligula anteem vitae tempus ornare</div>
                            <div class="text">Nulla ut ante vel lorem tempus lobortis. Sed quam metus, faucibus et pulvinar ut, volutpat ut orci. Nulla ornare ex lectus. Integer non neque sed eros sollicitudin congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam vel lectus in urna mattis ullamcorper. Etiam vel dolor leo. Vestibulum congue dolor at sollicitudin placerat. Mauris cursus vestibulum sapien ut ultricies. Praesent est arcu, condimentum.</div>
                        </div>

                        <div class="accordeon-entry">
                            <div class="title">Curabitur quis ante a felis eleifend</div>
                            <div class="text">Nulla ut ante vel lorem tempus lobortis. Sed quam metus, faucibus et pulvinar ut, volutpat ut orci. Nulla ornare ex lectus. Integer non neque sed eros sollicitudin congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam vel lectus in urna mattis ullamcorper. Etiam vel dolor leo. Vestibulum congue dolor at sollicitudin placerat. Mauris cursus vestibulum sapien ut ultricies. Praesent est arcu, condimentum.</div>
                        </div>
                    </div>
                </div>

                <div class="switch-container">
                    <div class="accordeon-wrapper">
                        <div class="accordeon-entry active">
                            <div class="title">Mauris augue mauris</div>
                            <div style="display: block;" class="text">Nulla ut ante vel lorem tempus lobortis. Sed quam metus, faucibus et pulvinar ut, volutpat ut orci. Nulla ornare ex lectus. Integer non neque sed eros sollicitudin congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam vel lectus in urna mattis ullamcorper. Etiam vel dolor leo. Vestibulum congue dolor at sollicitudin placerat. Mauris cursus vestibulum sapien ut ultricies. Praesent est arcu, condimentum.</div>
                        </div>

                        <div class="accordeon-entry">
                            <div class="title">Maecenas euismod ultrices urna sit amet</div>
                            <div class="text">Nulla ut ante vel lorem tempus lobortis. Sed quam metus, faucibus et pulvinar ut, volutpat ut orci. Nulla ornare ex lectus. Integer non neque sed eros sollicitudin congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam vel lectus in urna mattis ullamcorper. Etiam vel dolor leo. Vestibulum congue dolor at sollicitudin placerat. Mauris cursus vestibulum sapien ut ultricies. Praesent est arcu, condimentum.</div>
                        </div>

                        <div class="accordeon-entry">
                            <div class="title">Vestibulum ornare, sem vitae tempus ornare</div>
                            <div class="text">Nulla ut ante vel lorem tempus lobortis. Sed quam metus, faucibus et pulvinar ut, volutpat ut orci. Nulla ornare ex lectus. Integer non neque sed eros sollicitudin congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam vel lectus in urna mattis ullamcorper. Etiam vel dolor leo. Vestibulum congue dolor at sollicitudin placerat. Mauris cursus vestibulum sapien ut ultricies. Praesent est arcu, condimentum.</div>
                        </div>

                        <div class="accordeon-entry">
                            <div class="title">Etiam sed ligula anteem vitae tempus ornare</div>
                            <div class="text">Nulla ut ante vel lorem tempus lobortis. Sed quam metus, faucibus et pulvinar ut, volutpat ut orci. Nulla ornare ex lectus. Integer non neque sed eros sollicitudin congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam vel lectus in urna mattis ullamcorper. Etiam vel dolor leo. Vestibulum congue dolor at sollicitudin placerat. Mauris cursus vestibulum sapien ut ultricies. Praesent est arcu, condimentum.</div>
                        </div>

                        <div class="accordeon-entry">
                            <div class="title">Curabitur quis ante a felis eleifend</div>
                            <div class="text">Nulla ut ante vel lorem tempus lobortis. Sed quam metus, faucibus et pulvinar ut, volutpat ut orci. Nulla ornare ex lectus. Integer non neque sed eros sollicitudin congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam vel lectus in urna mattis ullamcorper. Etiam vel dolor leo. Vestibulum congue dolor at sollicitudin placerat. Mauris cursus vestibulum sapien ut ultricies. Praesent est arcu, condimentum.</div>
                        </div>

                        <div class="accordeon-entry">
                            <div class="title">Curabitur quis ante a felis eleifend</div>
                            <div class="text">Nulla ut ante vel lorem tempus lobortis. Sed quam metus, faucibus et pulvinar ut, volutpat ut orci. Nulla ornare ex lectus. Integer non neque sed eros sollicitudin congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam vel lectus in urna mattis ullamcorper. Etiam vel dolor leo. Vestibulum congue dolor at sollicitudin placerat. Mauris cursus vestibulum sapien ut ultricies. Praesent est arcu, condimentum.</div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
