<!-- BLOCK "TYPE 3" -->
<div class="block type-3">
    <div class="container">

        <div class="row wow fadeInDown">
            <div class="block-header col-md-6 col-md-offset-3 col-sm-12 col-sm-offset-0">
                <h2 class="title">Support Center</h2>
                <div class="text">Integer faucibus, dui quis pellentesque vestibulum, nulla ante aliquet turpis, in consectetur ex dui vitae erat in eleifend eros</div>
            </div>
        </div>

        <div class="row">
            <div class="icon-entry col-sm-6 col-md-3 wow fadeInLeft" data-wow-delay="0.3s">
                <img alt="" src="img/icon-113.png" class="img-circle">
                <div class="content">
                    <h3 class="title">Email Support</h3>
                    <div class="text">Duis posuere blandit orci sed tincidunt. Curabitur porttitor nisi ac nunc ornare, in fringilla nisl blandit.</div>
                </div>
                <a href="#" class="button">send email</a>
            </div>
            <div class="icon-entry col-sm-6 col-md-3 wow fadeInLeft">
                <img alt="" src="img/icon-114.png" class="img-circle">
                <div class="content">
                    <h3 class="title">Live Chat</h3>
                    <div class="text">Duis posuere blandit orci sed tincidunt. Curabitur porttitor nisi ac nunc ornare, in fringilla nisl blandit.</div>
                </div>
                <a href="#" class="button">start chat</a>
            </div>

            <div class="clearfix visible-sm"></div>

            <div class="icon-entry col-sm-6 col-md-3 wow fadeInRight">
                <img alt="" src="img/icon-115.png" class="img-circle">
                <div class="content">
                    <h3 class="title">Call Center</h3>
                    <div class="text">Duis posuere blandit orci sed tincidunt. Curabitur porttitor nisi ac nunc ornare, in fringilla nisl blandit.</div>
                </div>
                <a href="#" class="button">call center</a>
            </div>
            <div class="icon-entry col-sm-6 col-md-3 wow fadeInRight" data-wow-delay="0.3s">
                <img alt="" src="img/icon-116.png" class="img-circle">
                <div class="content">
                    <h3 class="title">Support Ticket</h3>
                    <div class="text">Duis posuere blandit orci sed tincidunt. Curabitur porttitor nisi ac nunc ornare, in fringilla nisl blandit.</div>
                </div>
                <a href="#" class="button">submit a ticket</a>
            </div>
        </div>

    </div>
</div>

<!-- BLOCK "TYPE 9" -->
<div class="block type-9">
    <div class="container">
        <div class="entry">
            <h3 class="title wow fadeInLeft">Can`t Find Answers?</h3>
            <div class="text wow fadeInRight"><b>View All Discussions On Forum &amp; Find Answer There</b> <a class="button" href="#">our forum</a></div>
        </div>
    </div>
</div>

<!-- BLOCK "TYPE 6" -->
<div class="block type-6">
    <div class="container">

        <div class="row wow fadeInDown">
            <div class="block-header col-md-6 col-md-offset-3 col-sm-12 col-sm-offset-0">
                <h2 class="title">Quick Answers</h2>
                <div class="text">Integer faucibus, dui quis pellentesque vestibulum, nulla ante aliquet turpis, in consectetur ex dui vitae erat in eleifend eros</div>
            </div>
        </div>

        <div class="row wow fadeInUp">
            <div class="col-md-4">

                <div class="typography-block">
                    <h6>Phasellus Vel Odio Commodo</h6>
                    <ul>
                        <li>Fusce congue vulputate mauris</li>
                        <li>Aliquam aliquam augue in libero mattis lobortis id</li>
                        <li>Lorem ipsum dolor sit ame</li>
                        <li>Integer vitae rhoncus enim faucibus mattis</li>
                        <li>Nam interdum vitae leo in viverra</li>
                    </ul>
                </div>

            </div>
            <div class="col-md-4">

                <div class="typography-block">
                    <h6>Lorem Ipsum Dolor</h6>
                    <ul>
                        <li>Fusce congue vulputate mauris</li>
                        <li>Aliquam aliquam augue in libero mattis lobortis id</li>
                        <li>Lorem ipsum dolor sit ame</li>
                        <li>Integer vitae rhoncus enim faucibus mattis</li>
                        <li>Nam interdum vitae leo in viverra</li>
                    </ul>
                </div>

            </div>
            <div class="col-md-4">

                <div class="typography-block">
                    <h6>Nullam Auctor Nisl</h6>
                    <ul>
                        <li>Fusce congue vulputate mauris</li>
                        <li>Aliquam aliquam augue in libero mattis lobortis id</li>
                        <li>Lorem ipsum dolor sit ame</li>
                        <li>Integer vitae rhoncus enim faucibus mattis</li>
                        <li>Nam interdum vitae leo in viverra</li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="row wow fadeInUp">
            <div class="col-md-4">

                <div class="typography-block">
                    <h6>Aliquam Interdum</h6>
                    <ul>
                        <li>Fusce congue vulputate mauris</li>
                        <li>Aliquam aliquam augue in libero mattis lobortis id</li>
                        <li>Lorem ipsum dolor sit ame</li>
                        <li>Integer vitae rhoncus enim faucibus mattis</li>
                        <li>Nam interdum vitae leo in viverra</li>
                    </ul>
                </div>

            </div>
            <div class="col-md-4">

                <div class="typography-block">
                    <h6>Suspendisse Vehicula Orci</h6>
                    <ul>
                        <li>Fusce congue vulputate mauris</li>
                        <li>Aliquam aliquam augue in libero mattis lobortis id</li>
                        <li>Lorem ipsum dolor sit ame</li>
                        <li>Integer vitae rhoncus enim faucibus mattis</li>
                        <li>Nam interdum vitae leo in viverra</li>
                    </ul>
                </div>

            </div>
            <div class="col-md-4">

                <div class="typography-block">
                    <h6>Cras Bibendum Lectus</h6>
                    <ul>
                        <li>Fusce congue vulputate mauris</li>
                        <li>Aliquam aliquam augue in libero mattis lobortis id</li>
                        <li>Lorem ipsum dolor sit ame</li>
                        <li>Integer vitae rhoncus enim faucibus mattis</li>
                        <li>Nam interdum vitae leo in viverra</li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
</div>

